				/* Navbar */

.fluid{
	padding-bottom: 200px;
}

.PhoneIcon{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.PhoneNum{
	display: flex;
	justify-content: center;
	align-items: center;
}
.call{
	cursor: pointer;
	justify-content: center;
	align-items: center;
}




				/* Header */



.HeaderContainer{
	background-image: url(assets/images/backgrounds/HeaderBack.jpg);
									/* parallax */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 500px;
	display: flex;
	align-items: center;
}
.PsCont{
	color: white;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.headerButton{
	margin-top: 25px;
	cursor: pointer;
	height: 60px;
	width: 150px;
	background-color: transparent;
	border: 2px white solid;
	border-radius: 50px;
   	outline: none;
	border: white 1px solid;
	color: white;
}




			/* Section 1 */




.padd{
	padding-top: 200px;
	padding-bottom: 200px;
}
.sec1rows{
	padding-top: 15px;
}
.Circle{
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: blue;
}
.CircleP{
	color:white;
}




			/* Section 2 */





.round{
	background-color: black;
	border-radius: 100%;
}


	/* Right signup part */
.signUpTextTop{
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 60px;
}
.signUpText{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	height: 80px;
}
.input{
	font-size: 15px;
	padding: 0px 0px 10px 10px;
	height: 40px;
	width: 80%;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px white;
}
.buttonRow{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signUpButton{
	cursor: pointer;
	height: 50px;
	width: 150px;
	background-color: white;
	border-radius: 50px;
	outline: none;
}





			/* Section 3 */





.rowsCenter{
	display: flex;
	justify-content: center;
}
.section3Heading{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sectionn3conts{
	display: flex;
	justify-content: center;
	align-items: center;
}
.socialMed{
	display: flex; 
	justify-content: space-between;
}
.socialMedia{
	height: 30px;
	width: 30px;
}




			/* Section 4 */




.success{
	height: 30px;
	width: 70px; 
	outline: none;
	border: none;
}

.arrowDivs{
	height: 20px;
	width: 20px;
}
.section4Arrows{
	display: flex;
	justify-content: space-around;
	align-items: center;
}





			/* section 5 */




.sec5PaddingTop{
	padding-top: 100px;
}
.faccesRadius{
	border-radius: 100%;
}
.sec5Rows{
	padding-top: 20px;
}




			/* section 6 */




.Sec6GenDivPadd{
	background-color: blue;
	padding: 100px 50px 100px 50px;
}
.Sec6Gen2Divs{
	color: white;
}
.sec6Inputs{
	height: 50px;
	width: 80%;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.textarea{
	width: 80%;
	border-radius: 10px;
}
.Sec6btn{
	height: 50px;
	width: 30%;
	border-radius: 30px;
	outline: none;
	border: none;
	margin-top: 10px;
	background-color: silver;
}




			/* Go Up Button */



#goUpButton{
	height: 50px;
	width: 50px;
	background-color: grey;
	cursor: pointer;
	opacity: 0.7; 
	position: fixed; 
	bottom: 20px;
	right: 20px;
	border-radius: 5px;
	display: none;
}
#goUpButton > a{
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#goUpButton > a{
	text-decoration: none;
	list-style-type: none;
	color: white;
}






			/* footer */




.footerRaw{
	color: white;
	background-color: #1a0000;
	padding-top: 150px;
	padding-bottom: 120px;
	padding-left: 50px;
	padding-right: 50px;
}
.footerImg{
	margin-right: 10%;
}
.footerBtn{
	height: 60px;
	width: 150px;
	border-radius: 30px;
	border: 1px white solid;
	color: white;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
.footerLastSentence{
	font-size: 12px;
}



			/* Hover part */

ul > li:hover{
	box-shadow: 3px 3px #888888;
	background-color: rgb(53,71,75);
	font-size: 16px;
	padding: 1px;
}
ul > li > a:hover{
	color: white !important;
}
.call:hover{
	box-shadow: 3px 3px #888888;
	background-color: rgb(53,71,75);
	color: white !important;
}




		
			/* Media query section */







@media only screen and (max-width: 1200px) {
  .round{
	width: 50% !important; 
	padding-bottom: 30px; 
	margin-top: 50px;	
  }
  .sec2LeftDiv{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
  .PhoneNum{
  	justify-content: flex-start;
  	align-items: flex-start;
  }
}


@media only screen and (max-width: 991px) {
  .round{
	width: 70% !important;  	
  }
}


@media only screen and (max-width: 770px) {
  	/* sec2 */
  .round{
	width: 80% !important;  	
  }
  .socialMed{
  	display: flex;
  	justify-content: center;
  }
  	/* sec3 */
  .socialMedia{
  	margin-left: 20px;
  }
  .queryTeachers{
  	height: 100px;
  	width: 100px;
  }
  .sec4ColsMargin{
  	margin-top: 100px;
  }
  .subCols{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
	/* sec5 */
  .faccesRadius{
  	height: 100px;
  	width: 100px;
  	margin-top: 70px;
  }
}




















