				/* Navbar */

.fluid{
	padding-bottom: 100px;
}

.Phone-icon{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.Phone-num{
	display: flex;
	justify-content: center;
	align-items: center;
}
.call{
	cursor: pointer;
	justify-content: center;
	align-items: center;
}
.fixed-top{
	padding-left: 15% !important;
	padding-right: 15% !important;
}





.containers-back{
	background-color: rgba(30, 30, 30, 0.1);
	border-radius: 10px;
	padding-top: 20px;
}
img{
	border-radius: 10px;
}



				/* Header */



.Header-container{
	background-image: url(assets/images/backgrounds/HeaderBack.jpg);
									/* parallax */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 600px;
	display: flex;
	align-items: center;
}
.Ps-cont{
	color: white;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 50px !important;
}
.header-button{
	margin-top: 25px;
	cursor: pointer;
	height: 60px;
	width: 150px;
	background-color: transparent;
	border: 2px white solid;
	border-radius: 50px;
   	outline: none;
	border: white 1px solid;
	color: white;
}
.parallax-container{
	height: 750px;
}




			/* Section 1 */




.padd{
	padding-top: 200px;
	padding-bottom: 200px;
}
.sec-1-rows{
	padding-top: 15px;
}
.Circle{
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: blue;
}
.Circle-p{
	color:white;
}




			/* Section 2 */





.round{
	background-color: black;
	border-radius: 100%;
}


	/* Right signup part */
.top-sign-up-text{
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 60px;
}
.sign-up-text{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	height: 80px;
}
.input{
	font-size: 15px;
	padding: 0px 0px 10px 10px;
	height: 40px;
	width: 80%;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px white;
}
.button-row{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-up-button{
	cursor: pointer;
	height: 50px;
	width: 150px;
	background-color: white;
	border-radius: 50px;
	outline: none;
}





			/* Section 3 */





.rows-center{
	display: flex;
	justify-content: center;
}
.section-3-heading{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-3-conts{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-med{
	display: flex; 
	justify-content: space-between;
}
.social-media{
	height: 30px;
	width: 30px;
}




			/* Section 4 */




.success{
	height: 30px;
	width: 70px; 
	outline: none;
	border: none;
}

.arrow-divs{
	height: 20px;
	width: 20px;
}
.section-4-arrows{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.section-4-arrows > button{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: silver;
}




			/* section 5 */




.sec-5-padding-top{
	padding-top: 100px;
}
.facces-radius{
	border-radius: 100%;
}
.sec-5-rows{
	padding-top: 20px;
}




			/* section 6 */




.Sec-6-gen-div-padd{background-image: url(assets/images/backgrounds/HeaderBack.jpg);
									/* parallax */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 650px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 110px 50px 110px 50px;
}
.Sec-6-gen-2-divs{
	color: white;
}
.sec-6-inputs{
	opacity: 0.7;
	height: 50px;
	width: 80%;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.textarea{
	opacity: 0.7;
	width: 80%;
	border-radius: 10px;
}
.Sec-6-btn{opacity: 0.8;
	height: 50px;
	width: 30%;
	border-radius: 30px;
	outline: none;
	border: none;
	margin-top: 10px;
	background-color: silver;
}
.img-style{
	border-radius: 10px;
}



			/* Go Up Button */



#go-up-button{
	height: 50px;
	width: 50px;
	background-color: grey;
	cursor: pointer;
	opacity: 0.7; 
	position: fixed; 
	bottom: 20px;
	right: 20px;
	border-radius: 5px;
	display: none;
}
#go-up-button > a{
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#go-up-button > a{
	text-decoration: none;
	list-style-type: none;
	color: white;
}






			/* footer */




.footer-raw{
	border-radius: 10px !important;
	color: white;
	background-color: rgba(30,45,53,0.5);
	padding-top: 90px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px;
}
.footer-img{
	margin-right: 10%;
}
.footer-btn{
	height: 60px;
	width: 150px;
	border-radius: 30px;
	border: 1px white solid;
	color: white;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
.footer-last-sentence{
	font-size: 12px;
}





			/* Hover part */





ul > li:hover{
	box-shadow: 3px 3px #888888;
	background-color: rgb(53,71,75);
	font-size: 16px;
	padding: 1px;
}
ul > li > a:hover{
	color: white !important;
}
.call:hover{
	box-shadow: 3px 3px #888888;
	background-color: rgb(53,71,75);
	color: white !important;
}




	
			/* Media query section */





@media only screen and (max-width: 1200px) {
  .round{
	width: 50% !important; 
	padding-bottom: 30px; 
	margin-top: 50px;	
  }
  .sec-2-Left-div{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
  .Phone-num{
  	justify-content: flex-start;
  	align-items: flex-start;
  }
}


@media only screen and (max-width: 991px) {
  .round{
	width: 70% !important;  	
  }
}


@media only screen and (max-width: 770px) {
  	/* sec2 */
  .round{
	width: 80% !important;  	
  }
  .social-med{
  	display: flex;
  	justify-content: center;
  }
  	/* sec3 */
  .social-media{
  	margin-left: 20px;
  	margin-bottom: 50px;
  }
  .section-4-arrows{
  	justify-content: center;
  }
  .query-teachers{
  	height: 100px;
  	width: 100px;
  }
  .sec-4-cols-margin{
  	margin-top: 100px;
  }
  .sub-cols{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
	/* sec5 */
  .sec-5-general-divs, .sec-5-rows, .names{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
  .sec-5-padding-top{
  	padding-top: 30px;
  }
  .facces-radius{
  	height: 100px;
  	width: 100px;
  	margin-top: 70px;
  }
  	/* sec6 */
 .Sec-6-gen-div-padd{
 	height: 900px;
 }
}


@media only screen and (max-width: 600px) {
 .round{
 	height: 400px;
 	width: 400px;
 }
 .sign-up-text{
 	height: 60px;
 	padding-top: 5px;
 }
}


@media only screen and (max-width: 550px) {
 .top-sign-up-text{
	font-size: 25px;
	padding-top: 30px;
 }
 .round{
 	height: 300px;
 	width: 300px;
 }
 .sign-up-text{
 	height: 40px;
 	padding-top: 0;
 }
 .sign-up-button{
 	height: 40px;
 	width: 120px;
 }
}


@media only screen and (max-width: 500px) {
 	/* sec6 */
 .Sec-6-gen-div-padd{
 	height: 800px;
 }	
}


@media only screen and (max-width: 400px) {
 	/* sec6 */
 .Sec-6-gen-div-padd{
 	height: 750px;
 }	
 .round{
 	height: 300px;
 	width: 300px;
 }
 .sign-up-text{
 	height: 35px;
 	padding-top: 0;
 }
 .input{
 	height: 30px;
 }
}















